<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pet owner list</title>
</head>
<body>
<h1 th:text="'Pet Owner List Index'">owner of pet list</h1>
<table>
    <tr>
        <td>id</td>
        <td>firstName</td>
        <td>LastName</td>
    </tr>
    <tr th:each="owner : ${allOwners}">
        <td th:text="${owner.id}">id</td>
        <td th:text="${owner.firstName}">firstName</td>
        <td th:text="${owner.lastName}">LastName</td>
    </tr>
</table>
</body>
</html>