<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>vet list</title>
</head>
<body>
<h1 th:text="'vet list Index Page'">vet list Index Page</h1>
<table>
    <tr>
        <td>id</td>
        <td>firstName</td>
        <td>LastName</td>
    </tr>
    <tr th:each="vet : ${allVets}">
        <td th:text="${vet.id}">id</td>
        <td th:text="${vet.firstName}">firstName</td>
        <td th:text="${vet.lastName}">LastName</td>
    </tr>
</table>
</body>
</html>